{% extends "base.html.twig" %}

{%  block body %}

{% include('navbar.html.twig') with {'lastUpdate':""} %}


<div class="container">
<div class="row">
<div class="col-md-12">
<div class="bd-callout bd-callout-warning">
<h5>Weather Data</h5>

<p> Here you can view statistical data gatherer by our app. Please select the city you are interested
	and the range of dates and submit to view the results </p>
</div>
    <div class="card bg-light">

	<form class="card-body form-horizontal" action="" method="POST" id="bootstrapForm">
		<div class="form-group row">
		<div class="col-md-4">
			{{ form_row(form.city)}}
		</div>
		<div class="col-md-4">
			{{ form_row(form.fromDate)}}
			</div>
			<div class="col-md-4">
			{{ form_row(form.toDate)}}
		</div>
</div>
{{ form_end(form) }}
</div>
</div>
</div>

{% if res is defined %}
<div class="row">
<div class="col-md-12">
<h4> Showing results for: {{from|date('Y-m-d')}} to {{to|date('Y-m-d')}}</h4>
<div class="table-responsive">
	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	  <thead>
		<tr>
		  <th>Date</th>
		  <th>Weather</th>
		  <th>Description</th>
		  <th>Icon</th>
		  <th>Temperature</th>
		  <th>Humidity</th>
		  <th>Windspeed</th>
		</tr>
	  </thead>
	  <tbody>
{% for resa in res %}

	<tr>
		<td>{{ resa.timeUpdated | date ("Y-m-d H:i:s") }}</td>
		<td>{{ resa.mainweather }}</td>
		<td>{{ resa.weatherDescription }}</td>
		<td>	<img src='http://openweathermap.org/img/wn/{{resa.icon}}.png'/></td>
		<td>{{ resa.temperature }}</td>
		<td>{{ resa.humidity }}</td>
		<td>{{ resa.windspeed }}</td>

	</tr>


{% endfor %}
</tbody>
</table>
{% endif  %}

</div>
{%  endblock  %}

{% block javascripts %}
{{ parent()}}
<script>
    $(document).ready(function() {
		 $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
		$('#dataTable').DataTable(  {"pageLength": 20} );
        // you may need to change this code if you are not using Bootstrap Datepicker

    });
</script>

{%  endblock  %}